
.position-port{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 800px;
}
.nguyen-port-style {
  top: 600px !important;
  max-width: 100%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;

  position: relative;
  z-index: 0;
}
.color-port{
  color:rgb(235, 252, 4);
  font-weight: bolder;
}
.color-port:hover {
color:rgb(255, 145, 0);
}
.bg-descrip{
 background-color: rgba(128, 128, 128, 0.577);
}

.card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 70ch;
  height: 55ch;
  background: grey;
  border-radius: 5px;
  background-image: url("/Images/todos.png");
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}
.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 70ch;
  height: 55ch;
  background: grey;
  border-radius: 5px;
  background-image: url("/Images/Guessing.png");
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}
.card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 70ch;
  height: 55ch;
  background: grey;
  border-radius: 5px;
  background-image: url("/Images/Hungry.png");
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
/* .carousel-all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%!important;
  height: 100%;
} */
div.port-style.row{
  width: 100%!important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}
/* .position-Item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
} */
